#mainDiv {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

#mainDiv > * {
  margin: auto;
  color: blue;
  background-color: #fff;

  height: 5rem;
  width: 100%;
  border-radius: 50px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

#map {
  height: 20rem;
}

#searchMain{
  display: flex;
  flex-direction: column;
}